* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
    font-family: 'Tilt Warp', cursive;
}

h1 {
    margin: 50px 0;
    font-size: 5rem;
    color: rgb(32, 183, 93);
    -webkit-text-stroke: .5px black;
}

input, button {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 1.2rem;
}

button {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

img {
    width: 30px;
}

#cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.btn {
    font-size: 2rem;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 0;
    background-color: rgb(206, 203, 203);
    border-radius: 10px;
}

#find {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    width: 250px;
    background-color: rgb(0, 0, 0);
}

.btn:hover {
    background-color: rgb(226, 228, 230);
}

button.enabled {
    opacity: 1;
}

p {
    font-size: 2rem;
}

.info {
    display: flex;
    width: 95vw;
    position: relative;
}

.info p {
    margin: 0;
}

#oppNameCont {
    position: absolute;
    right: 0;
}

.name-entry {
    font-size: 1.2rem;
}
